body{
    box-sizing: border-box;
    padding: 0px;
    background-color: #EAEAEA;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    height: 100%;
}

#contacts {
    width: 380px;
    padding-left: 5%;
    height: 100%;
    grid-template-columns: 1fr;
}

h1 {
    font-family: "League Spartan", sans-serif;
    font-stretch: extra-condensed;
    font-size: 50px;
}

p {
    font-family: "League Spartan", sans-serif;
    font-stretch: extra-condensed;
    font-weight: lighter;
    max-width: 70%;
    font-size: 20px;
}

.spacer {
    background-color: #03C988;
    width: 30%;
    height: 2px;
    margin-bottom: 20px;
}

#image {
    width: 755px;
    grid-template-columns: 1fr;
}

img {
    display: block;
    width: 100%;
}

h5 {
    font-family: "League Spartan", sans-serif;
    color: #03C988;
    font-size: 20px;
}

.contact{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    align-items: center;
}

.contact a {
    padding-left: 10px;
    font-family: "League Spartan", sans-serif;
    color: #000000;
    font-size: 20px;
}

.contact a:hover {
    color: #03C988;
}

input[type=button] {
    margin-top: 40px;
    height: 40px;
    width: 120px;
    font-weight: 400;
    font-family: "League Spartan", sans-serif;
}

input[type=button]:hover {
    background-color: #03C988;
    margin-top: 40px;
    height: 40px;
    width: 120px;
    font-family: "League Spartan", sans-serif;
}

#info {
    width: 640px;
}


@media (max-width: 600px) {

    .section {
        display: flex;   
        flex-direction: column;
        align-content: stretch; 
    }

    #container {
        display: flex;
        flex-direction: column;
    }

    #image {
        order: 1;
    }

    #contact {
        order: 2;
    }

    #info {
        width: 100%;
        order: 3;
    }

}

