body{
    box-sizing: border-box;
    padding: 0px;
    background-color: #6528F7;
}

#Scaffold {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#container {
    height: 1020px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

#contacts {
    align-self: center;
    width: 380px;
    padding-left: 5%;
    grid-template-columns: 1fr;
}

h1 {
    font-family: "League Spartan", sans-serif;
    font-stretch: extra-condensed;
    font-size: 50px;
    color: white;
}

#contacts h1 {
    font-size: 70px;
}

p {
    font-family: "League Spartan", sans-serif;
    font-stretch: extra-condensed;
    font-weight: lighter;
    max-width: 70%;
    font-size: 20px;
    color: #CDB8FF;
}

.spacer {
    background-color: #03C988;
    width: 30%;
    height: 2px;
    margin-bottom: 20px;
}

#image {
    width: 755px;
    grid-template-columns: 1fr;
}

img {
    display: block;
    width: 100%;
}

h5 {
    font-family: "League Spartan", sans-serif;
    color: #03C988;
    font-size: 20px;
}

.contact{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    align-items: center;
}

.contact a {
    padding-left: 10px;
    font-family: "League Spartan", sans-serif;
    color: white;
    font-size: 20px;
}

.contact svg {
    color: #03C988;
}

.contact a:hover {
    color: #03C988;
}

input[type=button] {
    margin-top: 40px;
    height: 40px;
    width: 120px;
    font-weight: 400;
    font-family: "League Spartan", sans-serif;
}

input[type=button]:hover {
    background-color: #03C988;
    margin-top: 40px;
    height: 40px;
    width: 120px;
    font-family: "League Spartan", sans-serif;
}

#info {
    align-self: center;
    padding-left: 5%;
    width: 640px;
}

#info .contact-links {
    display: none;
}


#knowledge-container {
    padding: 20px;
}

#knowledge-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.item {
    padding: 20px;
    background-color: #1E0360;
    margin: 5%;
}

.item p {
    color: #03C988;
}

.item h1 {
    font-size: 35px;
}


@media (max-width: 1890px) {

    #container {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #image {
        grid-column: 2;
        grid-row: 1/3;
    }

    #contacts {
        width: 100%;
        grid-column: 1;
        align-self: flex-end;
    }

    #info {
        width: 100%;
        grid-column: 1;
    }

    #contacts .contact-links {
        display: none;
    }

    #info .contact-links {
        display: flex;
        flex-direction: row;
    }

    h5 {
        display: none;
    }

    #knowledge-items {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 1200px) {
    #knowledge-items {
        display: grid;
        grid-template-columns: auto auto;
    }
    
}


@media (max-width: 600px) {

    #container {
        height: 1250px;
        display: flex;
        flex-direction: column;
    }

    #image {
        width: 100%;
        order: 2;
    }

    #contacts {
        order: 1;
    }

    #info {
        width: 100%;
        order: 3;
    }
    
    .section {
        align-self: center;
    }

    #knowledge-items {
        display: grid;
        grid-template-columns: auto;
    }

}

